#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.helper-box {
  display: flex;
  flex-direction: column;
}

.helper-box > * {
  padding: 1rem;
}

.key {
  width: 3rem;
  height: 3rem;
}

.clicked {
  color: grey;
}

.keyboard {
  max-width: 30rem;
}

.results {
  max-width: 30rem;
}

input {
  height: 2rem;
  font-family: monospace;
  letter-spacing: 1rem;
  border: 1px solid #000;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><line style="stroke: #000" x1="20.090665817260742" y1="-0.08398216962814331" x2="20.090665817260742" y2="20.07965660095215"/></svg>');
  background-repeat: repeat-x;
}
